In [1]:
import pandas as pd
import numpy as np

In [2]:
i = np.array(['html','css','android','java','python','kotlin'])

j = pd.Series(i)

print(j)

0       html
1        css
2    android
3       java
4     python
5     kotlin
dtype: object

In [3]:
import pandas as pd
import numpy as np

i = ['android','java','kotlin','html','css']

df = pd.DataFrame(i)

print(df)

         0
0  android
1     java
2   kotlin
3     html
4      css

In [4]:


i = pd.Series()

print(i)

Series([], dtype: float64)

<ipython-input-4-8d4041e2c2fe>:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  i = pd.Series()

In [5]:
import pandas as pd
import numpy as np

i = np.array([10,20,30,40,50,'data1','data2','data3',10.201])

j = pd.Series(i)

print(j)

0        10
1        20
2        30
3        40
4        50
5     data1
6     data2
7     data3
8    10.201
dtype: object

In [6]:
i = {'a':100,'b':200,'c':300,'d':50}

j = pd.Series(i)

print(j)

a    100
b    200
c    300
d     50
dtype: int64

In [7]:
i =pd.Series('john',index=[0,1,2,3,4,5])
 
print(j)

a    100
b    200
c    300
d     50
dtype: int64

In [8]:
i = pd.Series(['html','css','android','html','css'],
             index=[0,1,2,3,4])

print(i)

0       html
1        css
2    android
3       html
4        css
dtype: object

In [9]:
i = pd.Series(['banana','mango','apple','orange'],index=[1,2,3,4])

print(i)

1    banana
2     mango
3     apple
4    orange
dtype: object

In [10]:
import pandas as pd 
import numpy as np

i = pd.Series(['html','css','android','html','css'],index=[0,1,2,3,5])

print(i)

print(i[0])

print(i[2])

0       html
1        css
2    android
3       html
5        css
dtype: object
html
android

In [11]:
i = pd.Series(['html','css','android','html','css'],index=['a','b',2,3,5])

print(i)

print(i['a'])

print(i[3])

a       html
b        css
2    android
3       html
5        css
dtype: object
html
html

In [12]:
i = pd.Series(['apple','banana','orange','mango'],index=['a','b','c',4])

print(i)

print(i.index)

print(i.values)

a     apple
b    banana
c    orange
4     mango
dtype: object
Index(['a', 'b', 'c', 4], dtype='object')
['apple' 'banana' 'orange' 'mango']

In [13]:
import pandas as pd
import numpy as np

i = pd.Series(['html','css','java','cpp'],index=[1,2,3,4])
j = pd.Series(['mango','banana','apple'])

print(i)
print()
print(j)

1    html
2     css
3    java
4     cpp
dtype: object

0     mango
1    banana
2     apple
dtype: object

In [14]:
import pandas as pd
import numpy as np

i = pd.Series(['html','css','java'],index=[0,1,3])
j = pd.Series(['john','joy','deo'])

print(i)
print()
print(j)

print(i.index)
print()
print(j.index)

0    html
1     css
3    java
dtype: object

0    john
1     joy
2     deo
dtype: object
Int64Index([0, 1, 3], dtype='int64')

RangeIndex(start=0, stop=3, step=1)

In [15]:
import pandas as pd
import numpy as np

i = pd.Series(['html','css','java','android'],index=['a','b',1,2])
j = pd.Series(['mango','apple','banana'])

print(i)
print()
print(j)

print(i.values)
print()
print(j.values)

a       html
b        css
1       java
2    android
dtype: object

0     mango
1     apple
2    banana
dtype: object
['html' 'css' 'java' 'android']

['mango' 'apple' 'banana']

In [16]:
import pandas as pd
import numpy as np

i = pd.Series([10,20,30,40,50])
j = pd.Series([10.0,20.0,30.1,80.3])

print(i)
print()
print(j)

print(i.dtype)
print(j.dtype)

0    10
1    20
2    30
3    40
4    50
dtype: int64

0    10.0
1    20.0
2    30.1
3    80.3
dtype: float64
int64
float64

In [17]:
import pandas as pd
import numpy as np

i = pd.Series([10,20,30,40,50])
j = pd.Series(['a','b','c'])

print(i)
print()
print(j)

print(i.shape)
print(j.shape)

0    10
1    20
2    30
3    40
4    50
dtype: int64

0    a
1    b
2    c
dtype: object
(5,)
(3,)

In [18]:
import pandas as pd
import numpy as np

i = pd.Series([10,20,30,40,50,67,70,60,80,90])
j = pd.Series(['a','b','c'])

print(i)
print()
print(j)

print(i.ndim,j.ndim)

0    10
1    20
2    30
3    40
4    50
5    67
6    70
7    60
8    80
9    90
dtype: int64

0    a
1    b
2    c
dtype: object
1 1

In [19]:
import pandas as pd
import numpy as np

i = pd.Series([10,20,30,40,50])
j = pd.Series(['a','b','c'])

print(i)
print()
print(j)

print(i.size)
print(j.size)

0    10
1    20
2    30
3    40
4    50
dtype: int64

0    a
1    b
2    c
dtype: object
5
3

In [20]:
import pandas as pd
import numpy as np

i = pd.Series([10,20,30,40,50])
j = pd.Series(['a','b','c'])
k = pd.Series([])

print(i)
print()
print(j)
print()
print(k)

print(i.empty)
print(j.empty)
print(k.empty)

0    10
1    20
2    30
3    40
4    50
dtype: int64

0    a
1    b
2    c
dtype: object

Series([], dtype: float64)
False
False
True

<ipython-input-20-e99ce9a8e385>:6: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  k = pd.Series([])

In [21]:
import pandas as pd
import numpy as np

i = pd.Series([10,20,30,40,50,np.NaN])
j = pd.Series(['a','b'])
k = pd.Series([])

print(i)
print()
print(j)
print()
print(k)

print(i.hasnans)
print(j.hasnans)
print(k.hasnans)

<ipython-input-21-9274b0b1b724>:6: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  k = pd.Series([])

0    10.0
1    20.0
2    30.0
3    40.0
4    50.0
5     NaN
dtype: float64

0    a
1    b
dtype: object

Series([], dtype: float64)
True
False
False

In [22]:
import pandas as pd

print(pd.__version__)

1.1.3

In [23]:
import pandas as pd

i = pd.Series([10,20,30,40,50],index=['a','b','c','d','e'],dtype=float)

i

a    10.0
b    20.0
c    30.0
d    40.0
e    50.0
dtype: float64

In [24]:
import pandas as pd

i = pd.Series([10,20,30,40,50],
              index=['a','b','c','d','e'],
              dtype=float,
              name='Data values')

i

a    10.0
b    20.0
c    30.0
d    40.0
e    50.0
Name: Data values, dtype: float64

In [25]:
import pandas as pd

i = pd.Series([10,20,30,50,60],index=['a','b','c','d','e'])

i

i[1:4]

b    20
c    30
d    50
dtype: int64

In [26]:
import pandas as pd

i = pd.Series([10,20,30,50,60],index=['a','b','c','d','e'])

i

min(i)

max(i)

60

In [27]:
import pandas as pd

i = pd.Series([10,20,30])
j = pd.Series([1,2,3])

print(i)
print(j)

0    10
1    20
2    30
dtype: int64
0    1
1    2
2    3
dtype: int64

In [28]:
i+j

0    11
1    22
2    33
dtype: int64

In [29]:
import pandas as pd

i = pd.Series([10,20,30])
j = pd.Series([1,2,3,4])

print(i)
print(j)

0    10
1    20
2    30
dtype: int64
0    1
1    2
2    3
3    4
dtype: int64

In [30]:
i+j

0    11.0
1    22.0
2    33.0
3     NaN
dtype: float64

In [32]:
import pandas as pd

pd.read_csv('C:\\Users\\Rutuja\\Desktop\\lecture 04 student_results.csv')

,Student ID,Class,Study hrs,Sleeping hrs,Social Media usage hrs,Mobile Games hrs,Percantege
0,1001,10,2,9,3,5,50
1,1002,10,6,8,2,0,80
2,1003,10,3,8,2,4,60
3,1004,11,0,10,1,5,45
4,1005,11,4,7,2,0,75
5,1006,11,10,7,0,0,96
6,1007,12,4,6,0,0,80
7,1008,12,10,6,2,0,90
8,1009,12,2,8,2,4,60
9,1010,12,6,9,1,0,85